.register-container{
    padding: 20px;

    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border: 0px solid #000000;
}

.form-register{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 500px;
}

.formDivContainer{
    flex: 1;
    flex-grow: 1;
}

.formDivContainer > button{
    width: 100%;
    font-weight: bold;
    color: #000000;
}

/* Bottom button */
.registerButton{
    margin-top: 20px !important;
}

/* Margin-top to each field on form */
.form-register > div > div {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 15px;
}

/* Font-size to each label on form */
.form-register > div > label {
    font-size: 14pt;
}

/* Profile picture */
.profilePicture{
    width: 120px;
    height: 120px;
}

/* Button to upload profile picture */
.fileInput{
    display: 'none';
}

.inputImage{
    display: none;
}

/* Class to represent the element with */
.inputDate{
    width: 100%;
}

/* Select sex */
.inputSex{
    min-width: 120px;
}

.info{
    text-align: center;
}