/* Full page */
.registerContainer{
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 75%;
    justify-content: center;
}

/* Header */
.registerWelcome{
    padding: 10px;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
}

/* Body */
.registerForm{
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 75%;
}

.registerForm > .MuiFormControl-root{
    margin-top: 10px;
    padding: 5px;
    width: 50%;
}

/* Footer */
.formSubmit{
    padding: 10px;
}

.submitButton{
    width: 100%;
}