/* Full component */
.createPostContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

/* Text area */
.contentArea{
    margin: 0px;
    padding: 0px;
}

.contentArea > .MuiFormControl-root{
    width: 100%;
    padding: 0px 5px 0px 5px;
}

.contentArea .MuiOutlinedInput-multiline, .contentArea label {
    padding-left: 15px;
    font-size: 1.15em;
}

.postUploadPicture{
    display: flex;
    flex-direction: row;
}

.postUploadButtons{
    display: flex;
    flex-direction: column;
}

.postPicture{
    max-height: 200px;
}

/*Bottom buttons */
.bottomButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.postButtonOptions{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.postButtonOptions > .MuiFormControl-root, .postButtonOptions > .MuiButtonBase-root {
    margin-right: 10px;
}

.postButtonOptions .MuiInputBase-root, .postButtonOptions > .MuiButtonBase-root{
    height: 40px;
}

.postButtonOptions .MuiInputBase-root{
    padding-right: 10px;
}

.postButtonOptions > .MuiButtonBase-root{
    padding-left: 15px;
    padding-right: 15px;
}

.inputUploadPicture{
    display: none;
}