.homePageContainer{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.headerContainer{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15px;
}

.profileContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profileName{
    font-size: 16pt;
    margin-left: 8px;
}